body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:120px;
}
#u0 {
  position:absolute;
  left:0px;
  top:1019px;
  width:1080px;
  height:120px;
}
#u1 {
  position:absolute;
  left:2px;
  top:52px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:112px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
}
#u2 {
  position:absolute;
  left:30px;
  top:885px;
  width:1020px;
  height:112px;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
}
#u3 {
  position:absolute;
  left:2px;
  top:48px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#BFBFBF;
}
#u4 {
  position:absolute;
  left:976px;
  top:914px;
  width:59px;
  height:49px;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#BFBFBF;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
}
#u6 {
  position:absolute;
  left:0px;
  top:176px;
  width:1080px;
  height:170px;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
}
#u7 {
  position:absolute;
  left:2px;
  top:77px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u8 {
  position:absolute;
  left:22px;
  top:200px;
  width:80px;
  height:80px;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
}
#u9 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:959px;
  height:5px;
}
#u10 {
  position:absolute;
  left:124px;
  top:280px;
  width:956px;
  height:2px;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
}
#u11 {
  position:absolute;
  left:2px;
  top:-7px;
  width:952px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#0BB908;
}
#u12 {
  position:absolute;
  left:124px;
  top:206px;
  width:141px;
  height:32px;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#0BB908;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#909090;
}
#u14 {
  position:absolute;
  left:124px;
  top:247px;
  width:199px;
  height:26px;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#909090;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:29px;
  color:#363636;
}
#u16 {
  position:absolute;
  left:124px;
  top:303px;
  width:581px;
  height:33px;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:29px;
  color:#363636;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  white-space:nowrap;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:510px;
}
#u18 {
  position:absolute;
  left:0px;
  top:356px;
  width:1080px;
  height:510px;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
}
#u19 {
  position:absolute;
  left:2px;
  top:247px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:46px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.27843137254902);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u20 {
  position:absolute;
  left:928px;
  top:812px;
  width:142px;
  height:46px;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1083px;
  height:5px;
}
#u22 {
  position:absolute;
  left:0px;
  top:176px;
  width:1080px;
  height:2px;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
}
#u23 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:176px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:176px;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
}
#u25 {
  position:absolute;
  left:2px;
  top:80px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1083px;
  height:5px;
}
#u26 {
  position:absolute;
  left:0px;
  top:1138px;
  width:1080px;
  height:2px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1083px;
  height:5px;
}
#u28 {
  position:absolute;
  left:0px;
  top:1018px;
  width:1080px;
  height:2px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:690px;
}
#u30 {
  position:absolute;
  left:0px;
  top:1140px;
  width:1080px;
  height:690px;
}
#u31 {
  position:absolute;
  left:2px;
  top:337px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:120px;
}
#u32 {
  position:absolute;
  left:0px;
  top:1800px;
  width:1080px;
  height:120px;
}
#u33 {
  position:absolute;
  left:2px;
  top:52px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1060px;
  top:873px;
  width:20px;
  height:20px;
  overflow:hidden;
}
#u34_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u34_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u34_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#BFBFBF;
}
#u35 {
  position:absolute;
  left:883px;
  top:914px;
  width:59px;
  height:49px;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#BFBFBF;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#BFBFBF;
}
#u37 {
  position:absolute;
  left:954px;
  top:913px;
  width:16px;
  height:58px;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#BFBFBF;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:57px;
  top:904px;
  width:74px;
  height:74px;
  overflow:hidden;
}
#u39_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u41 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u43 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u45 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
